body{
    margin:0;
    font-family:'Poppins',sans-serif;
}

.hero{
    min-height:100vh;
    background:url('fe-brasil.jpeg') center center/cover no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    padding:30px 20px;
}

.overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.65);
}

.content{
    position:relative;
    z-index:2;
    width:100%;
    max-width:420px;
    text-align:center;
}

/* FOTO PREENCHENDO TOTALMENTE */
.foto{
    width:310px;
    height:310px;
    object-fit:cover;
    object-position:center top;
    display:block;
    margin:0 auto 18px auto;
    border-radius:22px;
    border:4px solid #fff;
    box-sizing:border-box;
}

/* LOGO CENTRALIZADO */
.logo{
    width:320px;
    max-width:95%;
    display:block;
    margin:0 auto 18px auto;
}

/* TEXTO */
.frase{
    color:#fff;
    font-size:18px;
    line-height:1.6;
    font-weight:500;
    margin-bottom:25px;
}

/* LINKS */
.links{
    display:flex;
    flex-direction:column;
    gap:12px;
}

.links a{
    background:#fff;
    color:#222;
    padding:16px;
    border-radius:14px;
    text-decoration:none;
    font-weight:600;
    transition:.3s;
}

.links a:hover{
    transform:scale(1.03);
}
