/* LINKS */
.links{
    display:flex;
    flex-direction:column;
    gap:12px;
    margin-top:20px;
}

.links a{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#fff;
    color:#111;
    text-decoration:none;
    padding:15px 50px 15px 18px;
    border-radius:14px;
    font-size:16px;
    font-weight:600;
}

/* TEXTO CENTRAL */
.texto{
    width:100%;
    text-align:center;
}

/* ICONES PNG DIREITA */
.icone-img{
    position:absolute;
    right:14px;
    top:50%;
    transform:translateY(-50%);
    width:24px;
    height:24px;
    object-fit:contain;
}

/* WHATSAPP */
.icone-fa{
    position:absolute;
    right:14px;
    top:50%;
    transform:translateY(-50%);
    font-size:24px;
}

.whatsapp{
    color:#25D366;
}
